<nav ngClass="navbar sticky-top navbar-dark bg-dark">
    <div ngClass="container-fluid " id="navbarText">
        <ul ngClass="navbar-nav">
          <li ngClass="nav-item">
            <a ngClass="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <!-- <li ngClass="nav-item">
            <a ngClass="nav-link" routerLink="list" routerLinkActive="active">List</a>
          </li> -->
          <li ngClass="nav-item">
            <a ngClass="nav-link" routerLink="add" routerLinkActive="active">Add</a>
          </li>
        </ul>
    </div>
</nav>
